storm.zookeeper.servers:
{% for host in zookeeper.hosts %}
  - {{ host }}
{% endfor %}

storm.zookeeper.port: {{zookeeper.port}}

storm.local.dir: {{storm.home_dir}}

nimbus.seeds: [{% for seed in nimbus.hosts -%}
"{{ seed }}"{% if not loop.last %}, {% endif %}
{%- endfor %}]
nimbus.childopts: "-Xmx1024m -Djava.net.preferIPv4Stack=true"

supervisor.slots.ports:
{% for port in worker.ports %}
  - {{ port }}
{% endfor %}

ui.childopts: "-Xmx256m -Djava.net.preferIPv4Stack=true"

supervisor.childopts: "-Djava.net.preferIPv4Stack=true"
worker.childopts: "-Xmx256m -Djava.net.preferIPv4Stack=true"

