[Unit]
Description=Storm UI Service
After=network.target

[Service]
SyslogIdentifier={{ storm.ui }}
Type=simple
User={{ storm.user }}
ExecStart={{ storm.sym_link }}/bin/storm ui
Restart=on-abort
SuccessExitStatus=143


[Install]
WantedBy=multi-user.target

