[Unit]
Description=Storm Nimbus Service
After=network.target

[Service]
SyslogIdentifier={{ storm.nimbus }}
Type=simple
User={{ storm.user }}
ExecStart={{ storm.sym_link }}/bin/storm nimbus
Restart=on-abort
SuccessExitStatus=143


[Install]
WantedBy=multi-user.target

