[Unit]
Description=Storm Supervisor Service
After=network.target

[Service]
SyslogIdentifier={{ storm.supervisor }}
Type=simple
User={{ storm.user }}
ExecStart={{ storm.sym_link }}/bin/storm supervisor
Restart=on-abort
SuccessExitStatus=143


[Install]
WantedBy=multi-user.target

